body {
  margin: 0;
  font-family: Arial;
  background: #f2f4f7;
}

.sidebar {
  width: 230px;
  background: #1e1e2d;
  height: 100vh;
  position: fixed;
  padding-top: 30px;
  color: white;
}

.sidebar h2 {
  text-align: center;
}

.sidebar a {
  display: block;
  padding: 15px;
  color: #bbb;
  text-decoration: none;
  margin-top: 5px;
}

.sidebar a:hover {
  background: #34344a;
  color: white;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.btn {
  padding: 10px 14px;
  background:#1e1e2d;
  color:white;
  border-radius:6px;
  cursor:pointer;
}
/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  body {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  .sidebar a {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }

  .main {
    padding: 12px;
  }

}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 12px;
}
input, button {
  width: 100%;
  font-size: 16px;
}
button {
  padding: 12px;
  border-radius: 10px;
}
h1, h2, h3 {
  font-size: clamp(18px, 4vw, 28px);
}
#menuBtn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
  font-size: 22px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
}
@media (max-width: 768px) {

  #menuBtn {
    display: block;
  }

  .sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 220px;
    height: 100%;
    background: #020617;
    transition: 0.3s;
    z-index: 999;
    flex-direction: column;
  }

  .sidebar.active {
    left: 0;
  }

}